    {% block Navigation %} 
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <div class="burger">
                <button class="navbar-toggler navbar navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
                        aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header d-none d-lg-flex">
                <a class="navbar-brand" href="/">Martin Durand</a>
            </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse d-flex-lg justify-content-lg-center order-12" id="navbarSupportedContent1">
                <ul class="navbar-nav">
                    {% if isLog and is_admin and admin_mode %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/user_management/">Gestion des utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/create_new_post_page/">Créer un post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/display_all_posts/?admin=1">Modifier / Supprimer un post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/user_create_page/">Créer un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/commentValidation/">Valider les commentaires</a>
                    </li>
                    {% else %}
                    <li class="nav-item d-flex d-lg-none">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/display_all_posts/">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/files/MonCV.pdf" target="_blank">Mon CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </div>


                <!-- /.navbar-collapse -->
        <div class="login-container">
            {% if isLog == false %}
            <form action="/loggingUser/" method="post">
                <div  class="d-flex flex-row">
                    <div class="d-flex  flex-column">
                        <div class="d-flex flex-row">
                                <input  class="" type="text" value="login" name="login" />
                        </div>
                        <div class="d-flex flex-row">
                            <input class="" type="password" value="password" name="password" />
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <div>
                            <input class="oKbuttom" type="submit" value="OK">
                        </div>
                    </div>
                </div>
            </form>
            {% else %}
            <div class="d-flex flex-column">
                <div>
                    <span class="text-white">Bonjour {{ firstname }}
                </div>
                <div>
                    <a href="/?sign_out=1">Déconnection </a>
                </div>
            </div>
            {% endif %}  

        </div>

     </div>

        <!-- /.container-fluid -->


    </nav>
    {% endblock %}