<html>
    <form action="/create_new_post/" method="post">
        <p>title : <input type="text" name="title" /></p>
        <p>leadParagraph : <input type="text" name="leadParagraph" /></p>
        <p>content : <input type="text" name="content" /></p>
        <p><input type="submit" value="OK"></p>
    </form>
</html>