<html>
{{ block("head", "head.twig") }}
<body>
{{ block("Navigation", "navigation.twig") }}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/views/img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Martin Durand</span>
                        <hr class="star-light">
                        <span class="skills">Martin Durand, le développeur qu’il vous faut !</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
    {{ block("Footer", "footer.twig") }}
</html>