<html>

<form method="post" action="/create_user/">

<label>Prenom:</label>
<input type="text" name="firstname" value=" ">

<label>Nom:</label>
<input type="text" name="lastname" value=" ">

<label>Login:</label>
<input type="text" name="login" value=" ">

 <label>Password:</label>
<input type="password" name="password" value="">

<button>Create user</button>
</form> 


</html>